@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Raleway&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #333333;
    color: #ffffff;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,1)), url("media/codepattern2.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-blend-mode: multiply;
}

h1{font-size: 50px;     font-family: 'Dela Gothic One', cursive;}
a {text-decoration: none;}
h2{font-size: 50px;}
h3{font-size: 25px;}
p{font-size: 25px;}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cambiado a un color más transparente */
    top: 0;
    z-index: 1000;
    padding: 10px 0; /* Añadido un poco de espacio alrededor del contenido */
}

.navbar a {
    color: white; /* Cambiado el color de los enlaces para mayor contraste */
}

/* The CSS code `button{ ... }` is defining the styles for all `<button>` elements in the HTML
document. */
.btn {
    position: relative;
    width: 11rem;
    height: 3.5rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 1.2rem;
    font-weight: 550;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s;
  }

  
  .btn:hover {
    background: #ffffff;
    background: linear-gradient(135deg, #BD8D62 0%, #473621 100%);
    color: white;
    font-size: 1.3rem;
  }


/* The `.container` class sets the maximum width of an element to 1400 pixels and centers it
horizontally using `margin: auto;`. This is commonly used to create a responsive layout where the
content is centered and has a maximum width on larger screens. */
.container{ 
    max-width: 1400px;
    margin: auto;
}

.color-acento{color: rgb(5, 5, 99);}


/* Header section is the one that displays above the hero section */
    header{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.1),
            rgba(0,0,0,0.9)
        )
;
        background-repeat: repeat;
        background-position: center center;
        background-blend-mode: normal ; /* Añadida esta línea */
    }



/* Estilos generales para tu logo */
.logo img {
    vertical-align: middle;
    padding-bottom: 20px;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    .logo img {
        max-width: 100%; /* Hace que la imagen sea 100% del ancho del contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente */
        padding-bottom: 10px; /* Ajusta el espacio alrededor de la imagen si es necesario */
        max-width: 120px;
    }
}

    
    .responsive-img {
        max-width: 100%;
        height: auto;
    }
    

    header .container{
            display: flex;
            justify-content: space-between; /* Coloca el logo a la izquierda y la navegación a la derecha */
            align-items: center;
            height: 100px; /* Ajusta según tu diseño */
            padding: 0 10px; /* Ajusta el espacio alrededor del contenido del encabezado */
        }


    .aboutmebtn, .previousjobsbtn, .contactbtn{
        transition: all 0.3s ease-in-out;
        font-family: "Dosis", sans-serif;
      }
      
      .aboutmebtn, .previousjobsbtn, .contactbtn {
        min-width: 150px; /* Establece un ancho mínimo */
        width: 30%; /* Utiliza porcentaje para hacerlos más adaptables */
        max-width: 200px; /* Establece un ancho máximo */
        height: 60px;
        border-radius: 50px;
        background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
        box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 20px; font-family: 'Raleway', sans-serif; font-weight: bold;
        color: white;
    }
    
    /* Botones Dispositivos moviles  */
    @media (max-width: 767px) {
    
        .aboutmebtn, .previousjobsbtn, .contactbtn {
            min-width: fit-content; /* Establece un ancho mínimo */
            max-width: fit-content;
            min-height: 40px;
            height: auto; /* Permite que la altura se ajuste automáticamente */
            font-size: 15px; 
            font-family: 'Raleway', sans-serif; 
            font-weight: bold;
            margin-right: 5px; /* Añade espacio entre los botones */
        }

        .aboutmebtn {
            /* ... tus propiedades comunes ... */
            font-size: 14px; 
          }
    }

      .aboutmebtn:hover, .previousjobsbtn:hover, .contactbtn:hover{
        transform: translateY(3px);
        box-shadow: none;
      }
      
      .aboutmebtn:active, .previousjobsbtn:active, .contactbtn:active {
        opacity: 0.5;
      }

      /* Colores de botones */

      .aboutmebtn {
        /* ... tus propiedades comunes ... */
        background: linear-gradient(to top, rgb(128, 0, 128), rgb(0, 0, 0));
        box-shadow: 0 15px 20px -6px rgb(127, 2, 158);
      }
      
      .previousjobsbtn {
        /* ... tus propiedades comunes ... */
        background: linear-gradient(to top, rgb(204, 101, 5), rgb(0, 0, 0));
        box-shadow: 0 15px 20px -6px rgb(204, 101, 5);
      }
      
      .contactbtn {
        /* ... tus propiedades comunes ... */
        background: linear-gradient(to top, rgb(0, 128, 0), rgb(0, 0, 0));
        box-shadow: 0 15px 20px -6px rgb(0, 128, 0);
      }
      

/* Hero of the page, it's the main thing the people see when they enter to my page  */
    #hero{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 86vh;
        color: white;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/workplace.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-top: 130px;
    }

    #hero h1{
        color: white;
        font-family: 'Raleway', sans-serif;
    }

    /* Sections container */
    #Aboutme .container{
        text-align: center;
        padding: 100px 12px;
    }

    #Skills .container{
        text-align: center;
        padding: 200px 12px;
    }


    .contacticonsbox {
        text-align: center;
        padding: 50px 12px;
    }

    #contact a {
        margin: 0 10px;
        border-radius: 50%;
        box-sizing: border-box;
        background: #fff;
        width: 100px;
        height: 100px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: 0.5s;
        background: rgba(0, 0, 0, 0);
        color: var(--color);
        font-size: 2.5em;
        -webkit-box-reflect: below 1px linear-gradient(to bottom, 
        rgba(0, 0, 0, 0), rgba(0,0,0,0.4));
    }

    #contact a:hover {
        background: var(--color);
        color: #050801;
        box-shadow: 0 0 5px var(--color), 
        0 0 25px var(--color);
        border-radius: 50%;
    }

    footer #footer {
        text-align: center;
        font-size: 15px; /* Cambia el tamaño del texto según tu preferencia */
    }